/**
!/.gitignore
!/.config/
/.config/**
!.config/dunst
!.config/dunst/*

!.config/kitty
!/.config/kitty/*

!.config/nemo
!/.config/nemo/*

!.config/sway
!/.config/sway/*

!.config/tofi
!/.config/tofi/*

!.config/waybar
!/.config/waybar/*

!.config/wlogout
!/.config/wlogout/*

!backup.sh
!.bashrc
!.profile
