/**
!/.gitignore

!/.config/
/.config/**

!.config/dunst
!.config/dunst/*

!.config/kitty
!/.config/kitty/*

!.config/nemo
!/.config/nemo/*

!.config/sway
!/.config/sway/*

!.config/tofi
!/.config/tofi/*

!.config/waybar
!/.config/waybar/*

!.config/wlogout
!/.config/wlogout/*

!/.mozilla/
/.mozilla/**
!.mozilla/firefox/
.mozilla/firefox/**
!.mozilla/firefox/v3bgm5ia.default-release/
.mozilla/firefox/v3bgm5ia.default-release/**
!.mozilla/firefox/v3bgm5ia.default-release/chrome
.mozilla/firefox/v3bgm5ia.default-release/chrome/**
!.mozilla/firefox/v3bgm5ia.default-release/chrome/userChrome.css

!backup.sh
!.bashrc
!.profile
