/*https://github.com/brunoanesio/waybar-config/tree/main?tab=readme-ov-file*/
@import 'waybarColors.css'; 
* {
  min-height: 0;
  font-family:  "HackNerdFont";
  font-size: 16px;
  font-weight: 600;
}


window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  background-color: transparent; /*rgba(24, 24, 37, 0.4);*/ 
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 10px;
  min-height: 0;
  margin: 4px 4px;
  border-radius: 4px;
  /* background-color: #181825; */
  background-color: @background; /*#1e1e2e;*/
  color: @foreground; /*#cdd6f4;*/
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
}

/*
#workspaces button.active {
  color: #1e1e2e;
  background-color: #89b4fa;
}
*/
#workspaces button.focused{
  color: @color1; /*#1e1e2e;*/
  background-color: @color15; /*#89b4fa;*/
}

#workspaces button.urgent {
  color: @color1; /*#1e1e2e;*/
  background-color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#network, 
#cpu,
#tray,
#memory, 
#battery, 
#window {
  min-height: 0;
  padding: 2px 10px;
  border-radius: 4px;
  margin: 4px 4px;
  /* background-color: #181825; */
  background-color: @color0; /*#1e1e2e;*/
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}
/*
#custom-spotify.playing {
  color: #a6e3a1;
}

#custom-spotify.liked {
  color: #cba6f7;
}
#custom-spotify.added {
  color: #f9e2af;
}

#custom-spotify.removed {
  color: #f38ba8;
}

#custom-spotify.paused {
  color: #9399b2;
}
*/

window#waybar.empty #window {
  background-color: transparent;
}

#network{
	color: @color2; /*#6c71c4*/;
  background-color: @color15;
}

#network.disconnected{
    color: #FF0000;
}

#cpu {
  color: @color4; /*#94e2d5;*/
  background-color: @color15; 
}

#memory {
  color: @color2; /*#cba6f7;*/
  background-color: @color15;
}

#clock {
  color: @color2; /*#74c7ec;*/
  background-color: @color15;
}

#clock.simpleclock {
  color: @color4; /*#89b4fa;*/
}

#window {
  color: #a6e3a1;
  background-color: @color15;
}

#pulseaudio {
  color: @color4; /*#b4befe;*/
  background-color: @color15;
}

#pulseaudio.muted {
  color: @color7; /*#a6adc8;*/
}

#custom-logo {
  color: #89b4fa;
  background-color: @color15;
}

/*
#custom-power {
  color: #f38ba8;
  padding-right: 5px;
  font-size: 14px;
}
*/
#battery {
  color: @color4; 
  background-color: @color15;
}

@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #181825;
  }
}

tooltip {
  background-color: @background;
}
