* {
	font-size: 18px;
	font-family: "HackNerdFont";
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;

}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#backlight, 
#memory,
#cpu,
#battery,
#disk,
#custom-pomodoro, 
#network, 
#tray {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
    color: #555555;
}
#workspaces button.focused {
    color: #ffcacb;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #2aa198;
}
#backlight{
    color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}

#custom-pomodoro.work{
    color: #FF474C; 
}
#custom-pomodoro.break{
    color: #D3B683; 
}
#battery {
	color: #859900;
}
#battery.warning{ 
	color: #FFA500;
}
#battery.critical{
    color: #FF0000;
}
#disk {
	color: #b58900;
}
#network{
	color: #6c71c4;
}
#network.disconnected{
    color: #FF0000;
}

#clock,
#pulseaudio,
#backlight,
#memory,
#cpu,
#network, 
#custom-pomodoro, 
#battery,
#disk {
	padding: 0 10px;
}

